* {
  margin: 0;
  padding: 0;
}
#container-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(24, 108, 227);
  color: white;
}
#container-nav div {
  margin-left: 10px;
  width: 100px;
}
#container-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#container-nav ul li {
  list-style: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
#container-nav ul li:hover {
  background-color: rgb(53, 105, 249);
}
